[Unit]
Description=GitHub Actions Runner (Thippareddykishor.ip-172-31-31-71)
After=network.target

[Service]
ExecStart=/actions-runner/runsvc.sh
User=gtihub
WorkingDirectory=/actions-runner
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=5min

[Install]
WantedBy=multi-user.target
